@model IEnumerable<BookStore.Api.Dtos.BookDTO>

@{
    ViewData["Title"] = "BookStore";
}

<div class="container">
    <div class="row">
        @foreach (var book in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="@book.ImageUrl" class="card-img-top" alt="@book.Name" style="height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">@book.Name</h5>
                        <p class="card-text">@book.Description</p>
                    </div>
                    <div class="card-footer">
                        <span class="text-muted">@(book.Price.ToString("n0")) VND</span>
                        <a asp-route="addcart"
                           asp-route-bookid="@book.Id"
                           class="btn btn-secondary btn-sm float-right">Đặt hàng</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
